@import "tailwindcss";

@theme {
  /* ---- COLORS ---- */
  --color-accent: #fa5b05;
  --color-primary: #1c1c1c;
  --color-secondary: #737373;
  --color-surface: #ffffff;
  --color-surface-glass: #ffffff66;
  --color-surface-muted: #f2f2f2

}


@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Mona Sans", sans-serif;
    color: var(--color-primary);
    background-color: var(--color-surface-muted);
  }

  
}