@import "tailwindcss";

@theme {
  /* ---- COLORS ---- */
  --color-accent: #fa5b05;
  --color-primary: #1c1c1c;
  --color-primary-hover: #333336;
  --color-secondary: #737373;
  --color-surface: #ffffff;
  --color-surface-glass: #ffffff66;
  --color-surface-muted: #f2f2f2;
}


@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: var(--color-primary);
    background-color: var(--color-surface-muted);
  }

  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  li {
    all: unset;
  }
  

  /* Heading */
  h1,
  h2,
  h3,
  h4 {
    @apply tracking-tight leading-normal;
  }

  p {
    @apply leading-tight;
  }

  button {
    @apply cursor-pointer;
  }

  .heading-2 {
    @apply font-bold md:text-xl lg:text-2xl capitalize;
  }

  .img-container {
    @apply h-full w-full overflow-hidden;

    img {
      @apply h-full w-full object-center object-cover;
    }
  }
}

@layer components {
  .padding-x {
    @apply px-4 md:px-10 lg:px-20;
  }

  /* Header */
  header {
    @apply bg-surface-glass backdrop-blur-lg transition-all ease-in-out duration-500 overflow-hidden;
  }

  .nav-bar {
    @apply flex items-center justify-between w-full;
  }

  .nav-list-wrapper {
    @apply absolute flex top-10 md:static w-full left-0 transition-all duration-500;
  }

  .nav-list {
    @apply px-4 md:px-0 flex flex-col md:flex-row md:gap-5;
  }

  .nav-link {
    @apply md:text-sm font-semibold py-3 relative transition-all duration-200 hover:text-primary-hover;
  }

  .nav-link::after {
    @apply content-[''] absolute bottom-0 left-1/2 h-[1.5px] bg-primary-hover w-0 transition-all duration-200;
  }

  .nav-link:hover::after {
    @apply w-full left-0;
  }

  /* UI / button */
  .icon-btn {
    @apply h-11 w-11 grid place-items-center hover:text-primary-hover;
  }

  .quantity-btn {
    @apply w-5.5 h-3.5 grid place-items-center ring ring-primary;
  }

  .btn-outline {
    @apply w-full text-xs leading-5 p-2 ring ring-primary font-medium uppercase;
  }

  .btn-primary {
    @apply w-full text-xs leading-5 p-2 bg-primary text-white font-medium uppercase;
  }

  .toggle-btn {
    @apply h-10 w-10 rounded-full bg-surface-muted grid place-items-center;
  }

  /* PRODUCT PAGE */
  .landingPage-Header {
    @apply py-4 border-b border-surface bg-surface-glass sticky z-20 top-0 backdrop-blur-lg;
  }

  .product-info-container {
    @apply flex flex-col gap-7 py-5 sticky top-17 font-medium self-start px-4 md:px-0;

    .discount-perscent {
      @apply p-1 rounded-full ring ring-accent text-accent text-xs leading-none font-semibold tracking-tight;
    }
  }
  
      .quantity-input {
        @apply h-9 w-11 text-sm font-bold ring ring-primary grid place-items-center focus:outline-0 focus:ring-2;
      }


  .form-input {
    @apply h-10 w-full ring-primary ring-[0.1px] focus:ring-1 focus:outline-none px-3
  }
}
